/* line 17, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 4, ../cocoapods.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #452e00;
  line-height: 1.4;
  background: #060100; }

/* line 11, ../cocoapods.scss */
a {
  color: #CA8A29;
  font-weight: bold;
  text-decoration: none; }
  /* line 16, ../cocoapods.scss */
  a:hover {
    color: #a06d20; }

/* line 21, ../cocoapods.scss */
.container {
  width: 1024px;
  margin: 0 auto;
  position: relative; }

/* line 27, ../cocoapods.scss */
.sidebar {
  border-top: 20px solid #d3bcac;
  width: 360px;
  background: #FCF3E5;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -512px;
  height: 100%; }
  /* line 37, ../cocoapods.scss */
  .sidebar .masthead {
    background: url(../../images/logo-sidebar.png) center 20px no-repeat;
    border-bottom: 1px solid #F5DAB0;
    padding: 205px 45px 24px 45px; }
    /* line 42, ../cocoapods.scss */
    .sidebar .masthead h1 {
      font-size: 50px;
      font-weight: bold;
      color: #723D2A; }
      /* line 46, ../cocoapods.scss */
      .sidebar .masthead h1 em {
        color: #E6A33C; }
    /* line 50, ../cocoapods.scss */
    .sidebar .masthead p {
      font-size: 18px;
      font-weight: bold; }
  /* line 55, ../cocoapods.scss */
  .sidebar nav, .sidebar .intro {
    padding: 24px 45px; }
  /* line 58, ../cocoapods.scss */
  .sidebar .intro {
    font-size: 14px;
    border-bottom: 1px solid #F5DAB0; }

/* line 64, ../cocoapods.scss */
.main-content {
  border-top: 20px solid #E3D8D4;
  width: 664px;
  top: 0;
  right: 0;
  position: absolute;
  background: #fff; }
  /* line 72, ../cocoapods.scss */
  .main-content h2, .main-content h3 {
    font-weight: bold; }
  /* line 76, ../cocoapods.scss */
  .main-content h2 {
    font-size: 18px;
    margin-bottom: 18px; }
  /* line 81, ../cocoapods.scss */
  .main-content h3 {
    font-size: 16px; }
  /* line 85, ../cocoapods.scss */
  .main-content p {
    margin-bottom: 18px; }
  /* line 89, ../cocoapods.scss */
  .main-content pre {
    font-family: Monaco, "Courier New", monospace; }
    /* line 92, ../cocoapods.scss */
    .main-content pre.prettyprint {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      border: none;
      background: #FDF9F1;
      margin-bottom: 18px;
      padding: 5px 8px;
      font-size: 14px; }
  /* line 102, ../cocoapods.scss */
  .main-content .search-form {
    background: url(../../images/search-decorator.png) left bottom repeat-x;
    padding-bottom: 25px; }
    /* line 108, ../cocoapods.scss */
    .main-content .search-form fieldset,
    .main-content .search-form .result,
    .main-content .search-form .no_results {
      padding: 24px;
      background: #FDFAF2;
      border-bottom: 1px solid #F0E7DD; }
    /* line 115, ../cocoapods.scss */
    .main-content .search-form .result h3, .main-content .search-form .result p {
      font-size: 18px; }
    /* line 118, ../cocoapods.scss */
    .main-content .search-form .result p {
      margin: 5px 0 0 0; }
      /* line 121, ../cocoapods.scss */
      .main-content .search-form .result p.author {
        font-size: 12px; }
        /* line 124, ../cocoapods.scss */
        .main-content .search-form .result p.author a {
          font-weight: normal; }
    /* line 131, ../cocoapods.scss */
    .main-content .search-form .no_results {
      font-size: 18px;
      font-weight: bold;
      color: #a51801; }
    /* line 137, ../cocoapods.scss */
    .main-content .search-form h2 {
      font-size: 24px;
      margin-bottom: 0;
      float: left; }
    /* line 143, ../cocoapods.scss */
    .main-content .search-form .search-modes {
      float: left;
      margin: 5px 0 0 10px;
      position: relative; }
      /* line 148, ../cocoapods.scss */
      .main-content .search-form .search-modes input, .main-content .search-form .search-modes label {
        display: none; }
      /* line 151, ../cocoapods.scss */
      .main-content .search-form .search-modes .active-search-mode {
        background: #e5a222 url(../../images/dropdown-arrow.png) right center no-repeat;
        -moz-border-radius: 14px;
        -webkit-border-radius: 14px;
        -o-border-radius: 14px;
        -ms-border-radius: 14px;
        -khtml-border-radius: 14px;
        border-radius: 14px;
        padding: 3px 30px 3px 10px;
        font-size: 14px;
        font-weight: bold;
        width: auto;
        float: left;
        cursor: pointer; }
        /* line 161, ../cocoapods.scss */
        .main-content .search-form .search-modes .active-search-mode:hover {
          background-color: #eab550; }
      /* line 165, ../cocoapods.scss */
      .main-content .search-form .search-modes .search-modes-selector {
        position: absolute;
        top: 2px;
        left: 2px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        -o-border-radius: 12px;
        -ms-border-radius: 12px;
        -khtml-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
        /* line 172, ../cocoapods.scss */
        .main-content .search-form .search-modes .search-modes-selector li {
          cursor: pointer;
          background: #FEDB9C;
          border: 2px solid #E5A222;
          border-bottom: none;
          padding: 5px 10px 5px 30px;
          white-space: nowrap; }
          /* line 180, ../cocoapods.scss */
          .main-content .search-form .search-modes .search-modes-selector li:hover {
            background: #ffedce; }
          /* line 183, ../cocoapods.scss */
          .main-content .search-form .search-modes .search-modes-selector li:first-child {
            -moz-border-radius-topleft: 12px;
            -webkit-border-top-left-radius: 12px;
            -o-border-top-left-radius: 12px;
            -ms-border-top-left-radius: 12px;
            -khtml-border-top-left-radius: 12px;
            border-top-left-radius: 12px;
            -moz-border-radius-topright: 12px;
            -webkit-border-top-right-radius: 12px;
            -o-border-top-right-radius: 12px;
            -ms-border-top-right-radius: 12px;
            -khtml-border-top-right-radius: 12px;
            border-top-right-radius: 12px; }
          /* line 186, ../cocoapods.scss */
          .main-content .search-form .search-modes .search-modes-selector li:last-child {
            -moz-border-radius-bottomleft: 12px;
            -webkit-border-bottom-left-radius: 12px;
            -o-border-bottom-left-radius: 12px;
            -ms-border-bottom-left-radius: 12px;
            -khtml-border-bottom-left-radius: 12px;
            border-bottom-left-radius: 12px;
            -moz-border-radius-bottomright: 12px;
            -webkit-border-bottom-right-radius: 12px;
            -o-border-bottom-right-radius: 12px;
            -ms-border-bottom-right-radius: 12px;
            -khtml-border-bottom-right-radius: 12px;
            border-bottom-right-radius: 12px;
            border-bottom: 2px solid #E5A222; }
          /* line 190, ../cocoapods.scss */
          .main-content .search-form .search-modes .search-modes-selector li.active {
            background-image: url(../../images/check.png);
            background-repeat: no-repeat;
            background-position: 8px center; }
    /* line 199, ../cocoapods.scss */
    .main-content .search-form input[type="search"] {
      clear: both;
      background: white url(../../images/searchlens.png) 8px 7px no-repeat;
      border: 3px solid #E6A33C;
      width: 100%;
      font-size: 24px;
      font-family: inherit;
      font-weight: bold;
      padding: 6px 24px 6px 36px;
      margin: 8px 0 0 0;
      -moz-border-radius: 23px;
      -webkit-border-radius: 23px;
      -o-border-radius: 23px;
      -ms-border-radius: 23px;
      -khtml-border-radius: 23px;
      border-radius: 23px;
      -webkit-appearance: none; }
      /* line 212, ../cocoapods.scss */
      .main-content .search-form input[type="search"]:focus {
        outline: none;
        -moz-box-shadow: 0 0 10px #e6a532;
        -webkit-box-shadow: 0 0 10px #e6a532;
        -o-box-shadow: 0 0 10px #e6a532;
        box-shadow: 0 0 10px #e6a532; }
  /* line 219, ../cocoapods.scss */
  .main-content footer {
    padding: 0 24px 18px 24px; }
    /* line 221, ../cocoapods.scss */
    .main-content footer p {
      font-size: 12px;
      margin-bottom: 0;
      color: #9b8372; }
  /* line 228, ../cocoapods.scss */
  .main-content section {
    margin: 18px 24px;
    padding: 0 0 18px 0;
    border-bottom: 3px solid #F6DDD1; }
    /* line 233, ../cocoapods.scss */
    .main-content section :last-child {
      margin-bottom: 0; }
    /* line 237, ../cocoapods.scss */
    .main-content section#install {
      margin-top: 0; }

/* line 241, ../cocoapods.scss */
::-webkit-input-placeholder {
  color: #d3d0d0; }

@media screen and (max-width: 1024px) {
  /* line 246, ../cocoapods.scss */
  .container {
    width: 100%; }

  /* line 250, ../cocoapods.scss */
  .sidebar,
  .main-content {
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%; }

  /* line 256, ../cocoapods.scss */
  .masthead {
    text-align: center; } }
