@font-face  /* TODO: Replace with images */
{
  font-family: 'myriad';
  src: url('MyriadPro-Semibold.otf') format('opentype');
}
body,
html
{
  margin: 0;
  padding: 0;
}
body
{
  font: 15px/20px "HelveticaNeue", arial, sans-serif;
  text-rendering: optimizeLegibility;
  background: url(images/background.png), #f8f8fc;
  background-size: 64px;
}
body > div
{
  width: 728px;
  padding: 20px;
  margin: 0 auto;
}
hgroup
{
/*  outline: 1px dashed red;*/
}
hgroup img
{
  float: left;
  width: 160px;
/*  outline: 2px dotted red;*/
}
hgroup h1,
hgroup h2
{
  font: 20px/1 "myriad";
  font-weight: normal;
  margin: 0 0 0 192px;
}
hgroup h1
{
  position: relative;
  font-size: 116px;
  letter-spacing: -2px;
  background: -webkit-gradient(linear, 51.5% top, 50% bottom, 
    from(rgba(255,255,255,0.6)), color-stop(0.42, rgba(255,255,255,0.12)), 
    color-stop(0.44, rgba(0,0,0,0)), to(rgba(0,0,0,0.6))), 
/*    #900;*/
    #713810;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgba(255,255,255,0.1); 
}
hgroup h1:before
{
  content: "CocoaPods";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
pre
{
  overflow: hidden;
}
#box
{
  padding: 20px;
  background: rgba(0,0,0,0.08);
  border: 1px solid #cacacb;
  border-top-color: #d1d1d2;
  border-bottom-color: #b8b8ba;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(255,255,255,0.4), 0 1px 3px rgba(0,0,0,0.16);
}
#search
{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#search .form
{
  display: block;
  position: relative;
  height: 46px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.08))), rgba(255,255,255,0.4);
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.08)), rgba(255,255,255,0.4);
  border-radius: 99px;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.08), inset 0 0 4px rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.6);
  -webkit-user-select: none;
}
#search input[type=search]
{
  z-index: 3;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0 8px 0 13px;
  width: 546px;
  height: 46px;
  border: 1px solid #98989f;
  -webkit-appearance: none;
  border-radius: 99px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.12);
  background: #fff;
  font-size: 30px;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#search input[type=search]::-webkit-input-placeholder
{
  color: #c0c0c8;
  font-size: 30px;
  line-height: 36px;  /* Fixes placeholder vertical alignment in Chrome and Webkit Nightly (535.*) */
}
#search input[type=search]:-moz-placeholder
{
  color: #c0c0c8;
}
body.desktop #search input[type=search]:focus
{
  outline: none;
  border-color: #6e96c7;
  box-shadow: inset 0 0 4px #6e96c7, inset 0 0 4px #6e96c7, 0 0 4px #6e96c7, 0 0 4px #6e96c7, inset 0 2px 4px rgba(0,0,0,0.16);
}
body.desktop #search input[type=search]::-webkit-search-cancel-button
{
  z-index: 9;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: url(images/cancel.svg);
  -webkit-appearance: none;
}
body.desktop #search input[type=search]::-webkit-search-cancel-button:active
{
  background-position: 0 -32px;
}
body.ios input[type=search]::-webkit-search-cancel-button
{
/*  outline: 1px dashed red !important;*/
}
#search label
{
  z-index: 3;
  display: block;
  position: absolute;
  right: 0;
  top: 1px;
  bottom: 1px;
  width: 200px;
  border-radius: 99px;
  font: 13px/1 "HelveticaNeue-Medium", arial, sans-serif;
  color: #606068;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  -webkit-transition: background 0.15s ease-in;
}
#search label:active
{
  background: rgba(0,0,0,0.08);
  -webkit-transition-duration: 0;
}
#search label:not(.checked) + label:not(.checked)
{
  z-index: 2;
}
#search label.checked
{
  z-index: 1;
}
#search label > span
{
  position: absolute;
  left: 94px;
  top: 15px;
}
#search label > span span
{
  white-space: nowrap;
  opacity: 0;
}
body.desktop #search label > span span
{
  -webkit-transition: opacity 0.1s ease-in;
}
#search label.checked > span span
{
  opacity: 1;
}
body.desktop #search label.checked > span span
{
  -webkit-transition: opacity 0.1s ease-out;
}
#search label b
{
  position: absolute;
  left: -14px;
  top: 2px;
  width: 8px;
  height: 2px;
  background: #88888f;
  border-bottom: 1px solid rgba(255,255,255,0.9);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
  opacity: 0.4;
}
body.desktop #search label b
{
  -webkit-transition: opacity 0.25s ease-out;
}
#search label:nth-child(2) b
{
  top: 6px;
}
#search label:nth-child(3) b
{
  top: 10px;
}
#search label:nth-child(1).checked b,
#search label:nth-child(2).checked b,
#search label:nth-child(3).checked b
{
  opacity: 1;
  -webkit-transition-duration: 0;
}
#search label input
{
  visibility: hidden;
}
footer
{
  text-align: center;
}
footer,
footer a
{
  color: #a0a0a8;
}
footer a:hover
{
  color: #808088;
}

/* Added by Florian. Not proud of this, but ok for prototyping. */
.more, .no_results, .results .header {
  font-size: 1.5em;
  padding: 0.5em 0em;
}
.more, .no_results {
  display: none;
}
#box #picky div.results {
  margin: 0 1.5em;
  padding: 0 0 1em 0;
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom: solid 1px #b8b8ba;
  box-shadow: inset 0 1px 3px rgba(255,255,255,0), 0 1px 3px rgba(0,0,0,0.16);
}
.results .pod {
  margin: 0.5em 1em 0.8em;
}
#box #picky .no_results {
  margin: 0px 1em;
  padding: 0.5em 1em 0;
  background-color: rgba(0, 0, 0, 0.02);
}
.allocations ol {
  list-style-type: none;
}
#box #picky .allocations {
  margin: 0px 1.5em;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: -2px 0px rgba(0,0,0,0.05), 2px 0px rgba(0,0,0,0.05);
}
#picky .allocations .shown li, #picky .allocations .hidden li {
  font-size: 1.2em;
}